<!--  Displays a page with all contacts and options for pagination  -->
<div class="main-page">
  <h1 class="title">Friend Me</h1>
  <h2 class="tagline">The new way to find people</h2>
  <!--   Displays the page and options to switch pages  -->
  <div class="pagination-container" *ngIf="allContacts != []">
    <h1 class="arrows" (click)="prevPage()"><</h1>
    <h2 class="page">Page {{ pageNum }}</h2>
    <h1 class="arrows" (click)="nextPage()">></h1>
  </div>
  <!--  Displays which results are being shown  -->
  <p>
    Showing results {{ (pageNum - 1) * 10 + 1 }} to
    {{ pageNum * 10 }}
  </p>
  <!--   Loops 10 times and creates a display card for the loaded data -->
  <div class="contacts" *ngIf="allContacts">
    <contact-card
      *ngFor="let contact of allContacts[pageNum - 1]"
      (contactSelected)="onContactSelected($event)"
      [contact]="contact"
    ></contact-card>
  </div>
  <!--   Displays the page and options to switch pages  -->
  <div class="pagination-container" *ngIf="allContacts != []">
    <h1 class="arrows" (click)="prevPage()"><</h1>
    <h2 class="page">Page {{ pageNum }}</h2>
    <h1 class="arrows" (click)="nextPage()">></h1>
  </div>
</div>
