@media only screen and (min-width: 600px) {
  .contact-page {
    padding: 50px 20px 20px 20px;
    box-shadow: 10px 20px 16px 10px rgba(0, 0, 0, 0.2);
  }

  .contact-page .name {
    font-size: 40px;
    padding-top: 10px;
  }

  .contact-page .details {
    font-size: 25px;
    padding: 3px;
  }

  .contact-page img {
    height: 150px;
  }

  .contact-page .minDetails {
    font-size: 20px;
    padding-bottom: 5px;
  }
}
@media only screen and (max-width: 600px) {
  .contact-page {
    box-shadow: 10px 10px 16px 7px rgba(0, 0, 0, 0.2);
  }
  .contact-page img {
    height: 60px;
  }

  .contact-page .name {
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 5px;
  }

  .contact-page .details {
    font-size: 18px;
    padding: 2px;
  }

  .contact-page .minDetails {
    display: none;
  }
}

.contact-page {
  text-align: center;
  border-radius: 25px;
  background: white;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.full-page {
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
}

.contact-page .text {
  text-align: center;
  background: transparent;
}

.contact-page .name {
  font-weight: 400;
  font-family: "NexaBlack";
}

.contact-page img {
  border-radius: 50%;
}

a {
  background: transparent;
  padding: 0;
  margin: 0;
}

.contact-page img:hover {
  transform: scale(1.1);
  transition: transform 0.25s ease-in-out;
  cursor: pointer;
}

.contact-page .minDetails {
  margin-bottom: 10px;
  background: transparent;
}
