<!--  Creates a full page directory for a contact  -->
<div class="full-page">
  <div class="contact-page">
    <!--  Displays an image, name, country, birthday and other contact information  -->
    <a href="{{ contact.picture }}">
      <img
        src="{{ contact.picture }}"
        onerror="this.src='../assets/images/person.svg'"
      />
    </a>
    <div class="name text">
      {{ contact.title + ". " + contact.first + " " + contact.last }}
    </div>
    <div class="minDetails">
      <div class="text">{{ contact.country }}</div>
      <div class="text">
        {{ contact.dob | date : "MMMM dd, yyyy" }}
      </div>
    </div>
    <div class="details text">
      {{ contact.phone + "   |   " + contact.cell }}
    </div>
    <div class="details text">{{ contact.email }}</div>
  </div>
</div>
